<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% raw %}
<script type="text/x-handlebars" data-template-name="songs">
    <ul id="song-list">
        {{#each song in model}}
            <li>{{song.title}}</li>
        {{/each}}
    </ul>
</script>
{% endraw %}

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/ember.debug.js"></script>
<script src="/assets/js/ember-template-compiler.js"></script>
<script src="/assets/js/ember-data.js"></script>
<script src="/assets/js/app.js"></script>

</body>
</html>
